#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

header {
  border: 2px solid grey;
  margin: 1rem;
}

.user-thumbnail {
  border: 2px solid pink;
  margin: 1rem;
}

.user-thumbnail img {
  margin: 0rem;
  width: 3rem;
}

nav {
  border: 2px solid brown;
  margin: 1rem;
}

ul {
  list-style: none;
  padding: 0rem;
}

.articles {
  border: 2px solid orange;
  margin: 1rem;
}

.article-card {
  border: 2px solid red;
  margin: 1rem;
}

.article-card-link {
  width: 30rem;
  margin: auto;
  border: 1px solid lightpink;
}

.article-card-link:hover {
  cursor: pointer;
  background-color: rgb(255, 234, 237);
  border: 1px solid black;
  transform: translateY(-2px);
  transition: transform 0.3s;
  box-shadow: 0px 1px 5px 1px;
}

.article-card img {
  margin: 0rem;
  width: 10rem;
}

.votes img {
  margin: 0rem;
  width: 1rem;
  cursor: pointer;
}

.votes img:hover {
  filter: drop-shadow(0px 0px 2px red);
}

.votes img:active {
  filter: drop-shadow(0px 0px 0px black);
}

.vote-number {
  margin: 0.25rem;
}

.single-article {
  border: 2px solid green;
  margin: 1rem;
}

.single-article-img {
  width: 40rem;
  max-width: 70%;
}

.comments {
  border: 2px solid blue;
  margin: 1rem;
}

.comment-card {
  border: 2px solid lightblue;
  margin: 1rem;
}

.comment-user {
  font-weight: bold;
}

.error-message {
  background-color: rgb(228, 0, 0);
  color: white;
  font-weight: bold;
}
